body {
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

 .visually-hidden{
  position: absolute;
  visibility: hidden ;
  pointer-events: non;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

.main-navigation {
  text-align: center;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.current-page a {
  color: #766357;
}

.intro-img {
  width: 1200px;
  height: 800px;
  background-color: #81b3d2;
  background-image: url(../img/background-photo.jpg);
  background-image: url(../img/intro-welcome.svg);
}


.reasons-title {
  padding-top: 61px;
  padding-bottom: 56px;

  background-color: #ffffff;
  text-align: center;
}

.reasons-list,
.reasons-list ul {
  list-style: : none; /* почему не рабоатет? */
}

.reason-title h2 {
  font-size: 21px
  font-weight: bold;
}

.reasons-title p {
  color: #333333;
}

.reason-item {
  width: 400px;
  height: 256px;

  background-color: #81b3d2;
}

.form-search h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.form-search p {
  text-align: center;
  color: #333333;
}

.form-search div {
  font-weight: bold;
} /* почему в инпутах тект не болд? он же входит в див. Или я неправильно понимаю цсс =(*/

.title-search {
  width: 568px;
  height: 86px;
  background-color: #766357;

  color: white;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
}


.button-search {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;

  font-size: 21px;
  font-weight: bold;
  color: white;
}

.less {
  width: 38px;
  height: 38px;
}

.more {
  width: 38px;
  height: 38px;
}

#adults,
#children {
  width: 38px;
  height: 38px;
}


.contacts a {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}


.social ul {
  list-style: none;
}

.social li {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}



/* Гостиницы */

.results-search-list,
.stars {
  list-style: none;
}

.results-search-list h2 {
  font-size: 21px;
}


.rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}

.detail {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  text-align: center;
}

.booking {
  width: 142px;
  height: 27px;
  background-color: #766357;
  text-align: center;
}

.detail a,
.booking a {
  color: white;
}





