html {
 box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  min-width: 1200px;
  height: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

 .visually-hidden{
  position: absolute;
  visibility: hidden ;
  pointer-events: non;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

.center-block {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);

}

/* Навигация */

.main-navigation {
  text-align: center;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;


}

.main-header-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.site-navigation {
  list-style: none;
  display: flex;

  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 15px;
  padding-bottom: 15px;

}

.site-navigation li {
  width: 25%;
  font-weight: bold;

  margin: 0;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

a.current-page {
  color: #766357;
}


/* Баннер*/
.intro-img {
  margin-top: 0;
  width: 100%;
  min-width: 1200px;
  height: 507px;
  background-image: url(../img/intro-welcome.svg),
    url(../img/intro-mask.svg),
    url(../img/background-photo.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 50% top 76px, left 0%  top 450px, 0 -83px;
  background-size: 459px 353px, 100%, 100%;
  }


/* Контент*/

.reasons-title {
  padding-top: 61px;
  padding-bottom: 56px;
  width: 440px;
  margin: 0 auto;

  background-color: #ffffff;
  text-align: center;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;


  border: 2px solid gold;
}

.reasons-list>li {
  width: 100%;


  border: 2px solid lightgray;
}

.reasons-list>li:first-child {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.reasons-item {
  width: 33.33%;

  background-color: #81b3d2;
  text-align: center;
  padding-top: 46px;
  padding-left: 60px;
  padding-right: 60px;

  border: 2px solid pink;
}

.reasons-with-image {
  display: flex;
  margin: 0;
  width: 100%;

  border: 2px solid darkblue;
}

.reasons-with-image img {
  width: 66.66%;
  margin: 0;
  padding: 0;

  border: 2px solid red;
}

.features {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;

 border: 2px solid green;
}

.features-item {
  width: 33.33%;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 87px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  border: 2px solid purple;
 } /* не совсем понимаю за счет чего сделать высоту блока равно макету? паддингами? и по выравниванию текста то же не понятно*/

 .features-item * {
  margin: 0;
 }

 .features-item img {
    margin-bottom: 32px;
 }

.features-title {
  margin-bottom: 26px;
}




.reasons-list,
.reasons-list ul {
  list-style: none;
}

.reason-title h2 {
  font-size: 21px;
  font-weight: bold;
}

.reasons-title p {
  color: #333333;
}

.reason-item {
  background-color: #81b3d2;
}

.reasons-list .reasons-without-image {
  width: 33.33%;
  background-color: #eeeeee;

  text-align: center;

  padding-top: 50px;
  padding-bottom: 64px;
}
/* здесь тоде не совсемпонятно про высоту блоков и текст, я перенес ео через БР, хотя опнимаю что это неправильно*/





/* Форма поиска*/

.search-hotel {
  position: relative;
}

.description-form {
  margin: 0 auto;
  margin-top: 57px;
  margin-bottom: 52px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search-hotels p {
  text-align: center;
  color: #333333;
}

.form-search {

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 568px;


  border: 2px solid navy;
}

.button-title-search {
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 33px;

  background-color: #766357;

  color: white;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.form-without-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: stretch;

  padding: 55px;

  background-color: white;

  border: 2px solid gold;
}

.form-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;

  margin-bottom: 30px;

  position: relative;

  border: 2px solid brown;
}

.form-item label {
  display: inline-block;
}

.check-in-date,
.check-out-date {
  width: 346px;
  height: 38px;
  border: 0;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 13px;
  padding-right: 35px;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

}




.button-search {
  width: 100%;

  background-color: #81b3d2;
  border: 0;

  padding-top: 17px;
  padding-bottom: 22px;
  margin-top: 25px;

  font-size: 21px;
  font-weight: bold;
  color: white;
}

.less {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0;
}

.more {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0;
}

.number-of-adults,
.number-of-children {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0;
}

.check-in-date,
.check-out-date {
  background-color: #f2f2f2;
}

.calendar {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -11px;
  margin-left: -30px;

  width: 21px;
  height: 22px;
  margin-bottom: 30px;

  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 0;

}


/* Карта */












/* Гостиницы */

/* Фильтры поиска готиниц*/

.form-filter {
  background-image: url(../img/filter-background.jpg);
  background-position: 0 -100px;

  padding: 31px 72px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;


  border: 2px solid red;
}

.cost-form {
  margin-left: auto;
}

.infrastructure,
.type-housing {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 72px;

  border: 2px solid green;
}

.infrastructure ul,
.type-housing ul {
  list-style: none;
}



/* Результаты поиска гостиницы */

.results-search {
  display: flex;
  flex-direction: column;


}


.results-search-list,
.stars {
  list-style: none;
}

.results-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 72px;

  border-bottom: 1px solid #f2f2f2;
}

.results-found {
  font-size: 21px;
  font-weight: bold;

  margin-right: 49px;
}

.results-sorting {
  font-size: 12px;
  line-height: 18px;

  margin-right: 40px;
}

.sorting-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  padding: 0;


}

.sorting-type-price,
.sorting-type-type,
.sorting-type-rating {
  margin-right: 33px;
  font-size: 12px;
  line-height: 18px;

  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type-price {
  color: #81b3d2;
  border: 0;
}

.sorting-btn {
  margin-left: auto;
}

.sorting-btn-down,
.sorting-btn-up {
  border: 0;
  background-color: transparent;
}


/* Найденные варианты*/

.results-search-list {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
  border-bottom: 1px solid #f2f2f2;


}

.results-search-item {
  display: flex;
  justify-content: space-between;

  padding: 30px 72px;

  border-bottom: 1px solid #f2f2f2;


}

.results-photo-info {
  display: flex;
  align-items: space-between;


}

.results-info {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;

  padding-left: 30px;

}



.results-info-title {
  width: 100%;
  margin: 0;
  margin-top: -4px;

  font-size: 21px;

}

.results-info-title a {
  color: black;
}

.results-info-title:hover a {
  color: #81b3d2;
}

.results-info-title:active a {
  color: black;
  opacity: 0.3;
}



.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 6px;
}


.results-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  margin-left: auto;


}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



.rating {
  padding: 5px 13px 6px 16px;
  background-color: #f2f2f2;
  color: #666666;
}

.detail {
  background-color: #81b3d2;
  text-align: center;
  padding-left:16px;
  padding-right: 16px;
  height: 27px;

  color: white;
  font-weight: bold;
}

.detail:hover {
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, 0.3);
}

.booking {
  background-color: #766357;
  text-align: center;
  padding-left:16px;
  padding-right: 16px;
  height: 27px;

  color: white;
  font-weight: bold;
}

.booking:hover {
  background-color: #604e43;
}

.booking:active {
  color: rgba(255, 255, 255, 0.3);
}


/* Футер*/

.main-footer {
  display: flex;
  align-items: center;

  margin: 0;
  padding-top: 36px;
  padding-bottom: 32px;


}

.contacts {
  width: 33.33%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  margin: 0px;
  padding-left: 132px;
}

.contacts a:hover {
  color: #81b3d2;
}

.contacts a:active {
 opacity: 0.3;
}

.social {
  width: 33.33%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;


}

.contacts a {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}



.social-icon {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 3px;
}

.social-icon:hover {
  background-color: #669ec0;
}

.social-icon:active svg{
  opacity: 0.3;
}

.social-icon a {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  margin: 0;
  margin-left: auto;
  margin-right: 101px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright:hover path {
  fill: #81b3d2;
}

.copyright:active path {
  fill: #bdbbbc;
}

.copyright span {
  margin-right: 8px;
}


