html {
 box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  min-width: 1200px;
  height: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

 .visually-hidden{
  position: absolute;
  visibility: hidden ;
  pointer-events: non;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

.center-block {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);

}

.main-navigation {
  text-align: center;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;


}

.main-header-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.site-navigation {
  list-style: none;
  display: flex;

  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 2px solid green;
}

.site-navigation li {
  width: 25%;

  border: 2px solid black;
  margin: 0;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.current-page {
  color: #766357;
}


/* Баннер*/
.intro-img {
  margin-top: 0;
  width: 100%;
  min-width: 1200px;
  height: 507px;
  background-image: url(../img/intro-welcome.svg),
    url(../img/intro-mask.svg),
    url(../img/background-photo.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 50% top 76px, left 0%  top 450px, 0 -83px;
  background-size: 459px 353px, 100%, 100%;
  }


/* Контент*/

.reasons-title {
  padding-top: 61px;
  padding-bottom: 56px;
  width: 440px;
  margin: 0 auto;

  background-color: #ffffff;
  text-align: center;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;


  border: 2px solid gold;
}

.reasons-list>li {
  width: 100%;


  border: 2px solid lightgray;
}

.reasons-list>li:first-child {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.reasons-item {
  width: 33.33%;

  background-color: #81b3d2;
  text-align: center;
  padding-top: 46px;
  padding-left: 60px;
  padding-right: 60px;

  border: 2px solid pink;
}

.reasons-with-image {
  display: flex;
  margin: 0;
  width: 100%;

  border: 2px solid darkblue;
}

.reasons-with-image img {
  width: 66.66%;
  margin: 0;
  padding: 0;

  border: 2px solid red;
}

.features {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;

 border: 2px solid green;
}

.features-item {
  width: 33.33%;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 87px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  border: 2px solid purple;
 } /* не совсем понимаю за счет чего сделать высоту блока равно макету? паддингами? и по выравниванию текста то же не понятно*/

 .features-item * {
  margin: 0;
 }

 .features-item img {
    margin-bottom: 32px;
 }

.features-title {
  margin-bottom: 26px;
}




.reasons-list,
.reasons-list ul {
  list-style: none;
}

.reason-title h2 {
  font-size: 21px;
  font-weight: bold;
}

.reasons-title p {
  color: #333333;
}

.reason-item {
  background-color: #81b3d2;
}

.reasons-list .reasons-without-image {
  width: 33.33%;
  background-color: #eeeeee;

  text-align: center;

  padding-top: 50px;
  padding-bottom: 64px;
}
/* здесь тоде не совсемпонятно про высоту блоков и текст, я перенес ео через БР, хотя опнимаю что это неправильно*/





/* Форма поиска*/

.search-hotel {
  position: relative;
}

.description-form {
  margin: 0 auto;
  margin-top: 57px;
  margin-bottom: 52px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search-hotels p {
  text-align: center;
  color: #333333;
}

.form-search {

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 568px;


  border: 2px solid navy;
}

.button-title-search {
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 33px;

  background-color: #766357;

  color: white;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.form-without-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: stretch;

  padding: 55px;

  background-color: white;

  border: 2px solid gold;
}

.form-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;

  margin-bottom: 30px;

  position: relative;

  border: 2px solid brown;
}

.form-item label {
  display: inline-block;
}

.check-in-date,
.check-out-date {
  width: 346px;
  height: 38px;
  border: 0;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 13px;
  padding-right: 35px;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

}

.form-item.children,
.form-item.adults {
  width: 50%;
}


.button-search {
  width: 100%;

  background-color: #81b3d2;
  border: 0;

  padding-top: 17px;
  padding-bottom: 22px;
  margin-top: 25px;

  font-size: 21px;
  font-weight: bold;
  color: white;
}

.less {
  width: 38px;
  height: 38px;
}

.more {
  width: 38px;
  height: 38px;
}

.number-of-adults,
.number-of-children {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.check-in-date,
.check-out-date {
  background-color: #f2f2f2;
}

.calendar {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -11px;
  margin-left: -30px;

  width: 21px;
  height: 22px;
  margin-bottom: 30px;

  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 0;

}


/* Карта */






/* Футер*/

.main-footer {
  display: flex;
  align-items: center;

  margin: 0;
  padding-top: 36px;
  padding-bottom: 32px;

  border: 2px solid red;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  margin: 0px;
  padding-left: 132px;


  border: 2px solid blue;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;

  border: 2px solid blue;
}

.copyright {
  display: flex;

  border: 2px solid blue;
}

.contacts,
.social,
.copyright {
  width: 33.33%;
}

.contacts a {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}



.social-icon {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid gold;

  margin: 3px;
}

.copyright {
  margin: 0;
  justify-content: center;
  align-items: center;
}

.copyright span {
  margin-right: 8px;
}





/* Гостиницы */

.results-search-list,
.stars {
  list-style: none;
}

.results-search-list h2 {
  font-size: 21px;
}


.rating {
  background-color: #f2f2f2;
}

.detail {
  background-color: #81b3d2;
  text-align: center;
}

.booking {
  background-color: #766357;
  text-align: center;
}

.detail a,
.booking a {
  color: white;
}




